/__mocks__
/__tests__
/.vscode
/coverage
/dist
/node_modules
/tests
/scripts
/.eslintignore
/.eslintrc.json
/.gitignore
/.prettierrc.json
/jest.config.js
/package-lock.json
/tsconfig.json
/webpack.config.js
/yarn-error.log
/yarn.lock
/*.js
/*.mjs
/*.cjs